<h1>Listado Usuarios</h1>

<p>
    <a href="{% url "dashboard:newuser" %}">Agregar usuario</a>
</p>

<ul>
    {% for usuario in object_list %}
        <li>
            <p>{{ dashboard.name }}</p>
            <p>
                <a href="{% url "dashboard:userdetail" usuario.pk %}">Ver</a> | 
                <a href="{% url "dashboard:edituser" usuario.pk %}">Editar</a> | 
                <a href="{% url "dashboard:deleteuser" usuario.pk %}">Borrar</a> 
            </p>
        </li>
    {% endfor %}
</ul>

<h2>Listado Departamentos</h2>
<p>
    <a href="{% url "dashboard:newdepa" %}">Agregar departamento</a>
</p>
<ul>
    {% for departamento in Departamentos %}
        <li>
            <p>{{dashboard.name}}</p>
            <p>
                <a href="{% url "dashboard:depadetail" departamento.pk %}">Ver</a> |
                <a href="{% url "dashboard:editdepa" departamento.pk %}">Editar</a> |
                <a href="{% url "dashboard:deletedepa" departamento.pk %}"">borrar</a>
            </p>
        </li>
    {% endfor %}
</ul>

<h3>Listado telefonos</h3>
<p>
    <a href="{% url "dashboard:newtel" %}">Agregar telefono</a>
</p>
<ul>
    {% for telefono in Num_telefono %}
        <li>
            <p>{{dashboard.name}}</p>
            <p>
                <a href="{% url "dashboard:teldetail" telefono.pk %}">Ver</a> |
                <a href="{% url "dashboard:edittel" telefono.pk %}">Editar</a> |
                <a href="{% url "dashboard:deletetel" telefono.pk %}"">borrar</a>
            </p>
        </li>
    {% endfor %}
</ul>

<h4>Listado Numeros de serie</h4>
<p>
    <a href="{% url "dashboard:newserie" %}">Agregar serie</a>
</p>
<ul>
    {% for serie in Series %}
        <li>
            <p>{{dashboard.name}}</p>
            <p>
                <a href="{% url "dashboard:seriedetail" serie.pk %}">Ver</a> |
                <a href="{% url "dashboard:editserie" serie.pk %}">Editar</a> |
                <a href="{% url "dashboard:deleteserie" serie.pk %}"">borrar</a>
            </p>
        </li>
    {% endfor %}
</ul>
