<h1>Listado Usuarios</h1>

<p>
    <a href="{% url "dashboard:newuser" %}">Agregar usuario</a>
</p>

<ul>
    {% for usuario in object_list %}
        <li>
            <p>{{ dashboard.name }}</p>
            <p>
                <a href="{% url "dashboard:userdetail" usuario.pk %}">Ver</a> | 
                <a href="{% url "dashboard:edituser" usuario.pk %}">Editar</a> | 
                <a href="{% url "dashboard:deleteuser" usuario.pk %}">Borrar</a> 
            </p>
        </li>
    {% endfor %}
</ul>

<h2>Listado Departamentos</h2>
<p>
    <a href="{% url "dashboard:newdepa" %}">Agregar departamento</a>
</p>
<ul>
    {% for departamento in object_list %}
        <li>
            <p>{{dashboard.name}}</p>
            <p>
                <a href="{% url "dashboard:depadetail" departamento.pk %}">Ver</a> |
            </p>
        </li>
    {% endfor %}
</ul>
