{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav %}
    <!-- Custom navigation menu goes here -->
{% endblock %}
{% block content %}
<h2>Panel Mantenciones</h2>
<ul>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'dashboard:newmante' %}'">Registrar</button>
</p>
<p>{{ dashboard.name }}</p>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead style="background-color: rgb(25, 231, 227);">
            <tr>
                <th>Patente</th>
                <th>Fecha Mantencion</th>
                <th>Kilometraje aproximado</th>
                <th>Estado mantencion</th>
                <th>Responsable</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Mantenciones in object_list %}
            <tr class="table-hover">
                <td>{{ Mantenciones.m_patente }}</td>
                <td>{{ Mantenciones.fecha_mantencion }}</td>
                <td>{{ Mantenciones.m_kilometraje }}</td>
                <td>{{ Mantenciones.m_estado }}</td>
                <td>{{ Mantenciones.responsable }}</td>
                <td><a href="{% url "dashboard:editmante" Mantenciones.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url "dashboard:deletmante" Mantenciones.pk %}" class="btn btn-danger btn-sm">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-primary">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">Anterior</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary">Ultima &raquo;</a>
        {% endif %}
    </span>
</div>
<p>
    <a href="{% url "dashboard:index" %}" class="btn btn-secondary">Volver al indice</a>
</p>
</ul>
{% endblock %}