{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav %}
    <!-- Custom navigation menu goes here -->
{% endblock %}
{% block content %}
<p>{{ dashboard.name }}</p>

<div class="card text-dark bg-light mb-3">
  <div class="card-body">
      <h5 class="card-title">Listado de smartphones</h5>
      <div class="table-responsive" style="max-height: calc(100vh - 230px); overflow-y: auto;">
        <table class="table table-hover table-bordered">
            <thead style="background-color: rgb(25, 231, 227);">
            <tr>
                <th>Numero de Serie</th>
                <th>Modelo</th>
                <th>RAM</th>
                <th>Imei</th>
                <th>Imei 2</th>
                <th>Estado</th>
                <th>Fecha de compra</th>
                <th>Valor del dispositivo</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Smartphones in object_list %}
            <tr class="table-hover">
                <td>{{ Smartphones.serie_smartphone }} </td> 
                <td>{{ Smartphones.modelo_smartphone }}</td>
                <td>{{ Smartphones.sram }}</td>
                <td>{{ Smartphones.imei1 }}</td>
                <td>{{ Smartphones.imei2 }}</td>
                <td>{{ Smartphones.estado_telefono }}</td>
                <td>{{ Smartphones.fecha_compra_telefono }}</td>
                <td>${{ Smartphones.valor_telefono }}</td>
                <td>{{ Smartphones.observaciones_telefonos }}</td>
                <td><a href="{% url "dashboard:editsma" Smartphones.pk %}" class="btn btn-warning btn-sm">Editar</a> 
                    <a href="{% url "dashboard:deletsma" Smartphones.pk %}" class="btn btn-danger btn-sm">Borrar</a>
                </td>          
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination d-flex justify-content-between">
  <p>
    <a href="{% url "dashboard:index" %}" class="btn btn-secondary">Volver al indice</a>
</p>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?page=1" class="page-link" aria-label="First">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&lsaquo;</span>
        </a>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
          <span aria-hidden="true">&rsaquo;</span>
        </a>
      </li>
        <li class="page-item">
          <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
  </ul>
    <p>
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'dashboard:newsma' %}'">Ingresar smartphone</button>
    </p>
</div>
</div>
{% endblock %}