{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav %}
    <!-- Custom navigation menu goes here -->
{% endblock %}
{% block content %}
<h2> Modelos </h2>
<ul>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'dashboard:newmod' %}'">Ingresar Modelo</button>
</p>

<p>{{ dashboard.name }}</p>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead style="background-color: rgb(25, 231, 227);">
            <tr>
                <th>Marca</th>
                <th>Tipo</th>
                <th>Modelo</th>
                <th>Procesador</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Modelos in object_list %}
            <tr class="table-hover">
                <td>{{ Modelos.m_marca }} </td> 
                <td>{{ Modelos.m_param }}</td>
                <td>{{ Modelos.m_modelo }}</td>
                <td>{{ Modelos.m_procesador }}</td>
                <td><a href="{% url "dashboard:editmod" Modelos.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url "dashboard:deletmod" Modelos.pk %}" class="btn btn-danger btn-sm">Borrar</a>
                </td>          
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination d-flex justify-content-start">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a href="?page=1" class="page-link" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span>
          </a>
        </li>
      {% endif %}
  
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
  
      {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
            <span aria-hidden="true">&rsaquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
    <p>
        <a href="{% url "dashboard:index" %}" class="btn btn-secondary">Volver al indice</a>
    </p>
</ul>
{% endblock %}