{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav %}
    <!-- Custom navigation menu goes here -->
{% endblock %}
{% block content %}
<body>
    <h2>Ingresar {{ model_verbose_name }}</h2>
    <form method="post">
        <div class ="fieldWrapper">
        {% csrf_token %}
        {{form.non_field_errors}}
        {{ form | crispy}} 
        <button type="submit" class ="btn btn-success" value="Save"> Guardar </button>
        <input type="button" class = "btn btn-cancel" onclick="history.back();" value="Regresar">
        </div>
    </form>
</body>
{% endblock %}